

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body {
    background-color: #ffffff;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 10px;
    border-bottom: 2px solid #cccccc;
}

p {
    font-family: "arial", "Helvetica Neue", "Helvetica", "sans-serif";
    font-size: 16pt;
    color: #777777;
}

label {
    font-family: "arial", "Helvetica Neue", "Helvetica", "sans-serif";
    font-size: 16pt;
    color: #777777;
    margin: 10px;
}

.footer{
    position: absolute  ;
    bottom: 0px;
    width: 100%;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    color: #dddddd;
    display: block;
}

.navbar-brand {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif !important; 
    flex-shrink: none;
    padding: 10px;
}

.nav-link > li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

.portfolio-description {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 465px;
}


.img-thumbnail {
    width: 465px;
    height: 262px;
    margin-bottom: 10px;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: #4aaaa5;
}

.navbar-light .navbar-brand{
    color:#ffffff
}


#me {
    width: 200px;
    height: 200px;
}

.navbar-light{
    border-bottom: 2px solid #cccccc;
}

.btn-primary{
    margin: 10px;
    background-color: #4aaaa5;
    color: #dddddd;
    border-color: #666666;
}